@use '../abstracts/' as *;

.calendar{
    margin-top: 75px;
    min-height: calc(100vh - 75px);
    @include flex_box($direction: column, $justify: space-around);

    &-img{
        
        & img{
            max-width: 90%;
        }
    }

    &-content{
        @include flex_box($direction : column, $row-gap: 10px, $align: flex-start);
        &__header{
            font-size: $fs-800;
        }
        &__description{
            font-size: $hero-content-description-fs;
        }
        &__btn{
            padding: $p-2;
            border: none;
            border-radius: $size-1;
            background-color: map-get($clr-primary, 500 );
            color: #fff;
            font-weight: $fw-semibold;
            
            &:is(:hover, :focus){
                background-color: map-get($clr-primary, 400 );
                cursor: pointer;
            }
        }
    }
    @include mq(large){
        min-height: fit-content;
        padding-block: 8rem;
        flex-direction: row;

        &-img{
            width: 50%;
        }

        &-content{
            width: 50%;
        }
    }
}