@use '../abstracts/' as *;

.customer{
    margin-top: 75px;
    min-height: calc(100vh - 75px);
    @include flex_box($direction:column, $justify:space-around);

    &-img{
        max-height: 40vh;
    }

    &-content{
        @include flex_box($direction: column, $justify: space-around, $align: flex-start, $row-gap: 1.25rem);

        &__description{
            font-size: $fs-300;
        }
        & .customer-info{
            color: map-get($clr-primary, 400 );
            & p{
                @extend .customer-content__description;
            }
        }

        & .customers{
            width: 100%;
            @include flex_box($justify: space-between);
            
            & ul{
                & li:not(:last-child){
                    display: none;
                }
            }
            & span{
                height: 100%;
                @include flex_box();
                color: map-get($clr-primary, 400 );
                & i{
                    font-size: $fs-600;
                    padding-left: .25rem;
                }
            }
        }
    }
    @include mq(large){
        min-height: fit-content;
        padding-block: 8rem;
        flex-direction: row;

        &-img{
            width: 40%;
        }

        &-content{
            width: 60%;
            min-height: 50%;

            & .customers{
                width: 100%;
                @include flex_box($justify: space-between);
                
                & ul{
                    width: 60%;
                    @include flex_box($justify: space-around);
                    & li:not(:last-child){
                        display: block;
                    }
                }
            }
        }
    }
}