@use '../abstracts/' as *;

.header{
    @include flex_box($justify : space-between);
    height: $header-h;
    position: fixed;
    left: 0;
    background-color: hsla(0,0%,100%,.75);
    z-index: 99;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    width: 100% !important;
    
    @media (min-width:1440px) {
        // left: calc((100vw - 1440px)/2);

    }

    &__icon{
        z-index: 9999;
        font-size: $fs-800;
        color: map-get($clr-primary, 500 );
        cursor: pointer;

        &:is(:hover){
            color: map-get($clr-primary, 600 );
        }
    }

    &__menu{
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: min(80%, 480px);
        background-color: $heade-menu-bg-mobile;
        @include flex_box($direction : column);
        z-index: 99;

        @include mq(large){
            right: calc((100vw - 1440px)/2);
        }
        
        &-nav{
            list-style: none;
            @include flex_box($direction : column,$align : flex-start);

            & a{
                text-decoration: none;
                font-size: $header-nav-menu-fs;
                font-weight: $header-nav-menu-fw;
                color: $header-nav-menu-clr;
            }
        }

        &-btns{
            margin-top: 20px;
            width: 100%;
            @include flex_box($direction : column, $row-gap: 10px);
            
            & button{
                width: 75%;
                padding: $size-2 0;
                border: none;
                border-radius: $size-1;
                background-color: map-get($clr-primary, 200 );
                color: map-get($clr-neutral, 800 );
                font-weight: $fw-semibold;
                font-size: calc($header-nav-menu-fs * .65);
                
                &:is(:hover, :focus){
                    background-color: map-get($clr-primary, 500 );
                    color: map-get($clr-neutral, 400 );
                }
            }
        }
    }
    
}