@use '../abstracts/' as *;

body{
    background-color: $body-bg;
    font-family: $ff-base;
    color: $body-clr;
}

img {
    max-width: 100%;
    max-height: 100%;
}
p{
    color: $body-p-clr;
}
li{
    list-style-type: none;
}
.section{
    width: min(100%, 1440px);
    padding: 1.25rem 2rem;
    margin-inline: auto;
    
    @media (min-width:1440px){
        padding-inline:calc((100vw - 1440px)/2);
    }
}