@use './sizes' as *;
@use './typography' as *;
@use './colors' as *;

// gloabal tokens 
$p-2: $size-2 $size-4;
$p-4: $size-4 $size-8;

$body-bg: map-get($clr-neutral, 500);
$body-clr: map-get($clr-neutral, 900 );
$body-p-clr: map-get($clr-neutral, 800 );

// header 
$heade-menu-bg-mobile: map-get($clr-primary, 400);
$header-h : 75px;
$header-nav-menu-clr: map-get($clr-neutral, 800 );
$header-nav-menu-fs: $fs-700;
$header-nav-menu-fw: $fw-semibold;

// hero seciton 
$hero-h : calc(100vh);
$hero-content-header-fs: $fs-800;
$hero-content-description-fs: $fs-300;


// services 
$services-main-header-fs: $fs-600;
$services-main-description-fs: $fs-400;
$services-main-header-fw:$fw-bold;
$services-main-description-fw: $fw-regular;